# Flickr API
flickr_api_key = "flickr_key"

# Twitter API
#
# For info on how to get these tokens:
# https://github.com/sixohsix/twitter/#authentication
token = "twitter_token"
token_secret = "twitter_secret_token"
consumer_key = "twitter_consumer_key (OAuth dance required)"
consumer_secret = "twitter_consumer_secret (OAuth dance required)"

# Email credentials
email_username = "username@email.com"
email_password = "yourpasswordhere"
email_smtp_server = "localhost"
email_handler = "emailrecipient@email.com"
